# Dependencies
node_modules
.pnpm-store

# Production build output
dist
dist-ssr
*.local

# Logs and environment
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local

# Editor / System files
.agent/
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvsopt
*.njsproj
*.sln
*.sw?
.DS_Store

# Temporary scratch scripts
scratch/
